@import "tailwindcss";

@font-face {
  font-family: Gotika;
  src: url("/src/assets/fonts/berry_rotunda/Berry\ Rotunda.ttf");
}
@theme {
  --font-gotika: Gotika, "sans-serif";
}

body {
  font-family: Gotika;
  src: url("/src/assets/fonts/berry_rotunda/Berry\ Rotunda.ttf");
}

.image-border{
/* border-2 border-solid border-red-900 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] */
}
.input {
    @apply focus:outline-none focus:border-gray-500 p-3 border-2  text-lg border-gray-200 transition-colors;
  }

.btn {
    @apply text-lg font-medium focus:outline-none text-white py-4  transition-colors bg-lime-600 hover:bg-lime-700;
}

.container {
  @apply max-w-screen-2xl mx-auto;
}

.link {
  @apply text-lime-600 hover:underline;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

.leaflet-control-attribution {
  display: none;
}